body {

}

header {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#bbb));
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  box-shadow: inset 0 -1px 1px 0 #eee, inset 0 -2px 0 #999;
}

header h1 {
  margin: 0 10px;
  line-height: 48px;
  color: #555;
  font-family: 'Lucida Grande', Tahoma, sans-serif;
  font-size: 23px;
  text-shadow: 0 -1px 0 #333, 0 1px 0 #ddd;
}

header .buttons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 2px;
  padding-right: 4px;
  font-size: 0;
}

header .buttons button {
  border: none;
  font-size: 12px;
  margin: 9px 5px;
  height: 30px;
  font-family: 'Lucida Grande', Tahoma, sans-serif;
  font-weight: bold;
  text-shadow: 0 1px 0 #efefef;
  padding: 0 10px;


  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#ccc));
  border-top: 1px solid #efefef;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #dfdfdf;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #888;
}

header .buttons button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#bbb));
  border: none;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 0 #ddd;
  border: 1px solid #888;
  text-shadow: 0 1px #cfcfcf;
}

#main {
  position: absolute;
  background: #ccc;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}

#code-panel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
}

#dart-code {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
}

#html-code {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50%;
}

.tab-bar {
  height: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#bbb));
  font-size: 0;
  border-bottom: 1px solid #aaa;
  -webkit-user-select: none;

  display: -webkit-flex;
}

.tab-bar .tab {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-family: 'Lucida Grande', Tahoma, sans-serif;
  font-size: 12px;
  text-shadow: 0 1px 0 #eee;
  background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#ccc));
  padding: 0 20px 0 5px;
  box-shadow: -1px 0 0 #dfdfdf, -2px 0 0 #aaa;
  margin-right: 2px;
  cursor: default;

  -webkit-flex: 1;
  max-width: 90px;
  min-width: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab-bar .tab.active {
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
  box-shadow: -1px 0 0 #efefef, -2px 0 0 #aaa;
  text-shadow: 0 1px 0 white;
}

.tab-bar .tab:last-child {
  box-shadow: -1px 0 0 #dfdfdf, -2px 0 0 #aaa, 1px 0 0 #aaa, 2px 0 0 #d5d5d5;
}

.tab-bar .new {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-family: 'Lucida Grande', Tahoma, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 1px 0 #eee;
  background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#ccc));
  text-align: center;
  box-shadow: -1px 0 0 #dfdfdf, -2px 0 0 #aaa, 1px 0 0 #aaa, 2px 0 0 #d5d5d5;
  margin-right: 2px;
  cursor: default;

  -webkit-flex: 1;
  max-width: 25px;
  min-width: 25px;
  overflow: hidden;
}

#code-panel .editors {
  position: absolute;
  background: white;
  top: -webkit-calc(25px + 1px);
  left: 0;
  right: 0;
  bottom: -webkit-calc(15px + 2px);
}

#code-panel .editors .editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

#code-panel .editors .editor.active {
  display: block;
}

#code-panel .status {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15px;
  line-height: 15px;
  padding: 0 5px;
  font-family: 'Lucida Grande', Tahoma, sans-serif;
  font-size: 11px;
  text-shadow: 0 1px 0 white;
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

#result-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
}

#result-panel .tab {
  position: relative;
  left: 2px;
}

#result-panel .iframe-container {
  position: absolute;
  top: -webkit-calc(25px + 1px);
  left: 0;
  right: 0;
  bottom: 0;
  border-left: 1px solid #aaa;
  overflow: hidden;
}

#result-panel iframe {
  background: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
